p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 25px;
  text-align: center; 
}

h3 {
  font-family: cursive, sans-serif;
  font-size: 20px;
  text-align: center;

}	

h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  text-align: center;
}
/* Mark Comment: It's a nitpick but insert a space between selector names and the open curly bracket. */
#oldiv {
  font-size: 25px;
  border: 5px;
  border-style: dotted;
  box-shadow: inset;
  text-align: center;
  background-color: beige;
  margin-left: 25%;
  margin-right: 25%;

}

.uldiv {
  font-size: 25px;
  border: 5px;
  border-style: dotted;
  box-shadow: inset;
  text-align: center;
  background-color: darkcyan;
  margin-left: 25%;
  margin-right: 25%;

}

#background {
background-image:url(https://cdn.hipwallpaper.com/i/68/99/9JPRhb.jpg);
 background-repeat: no-repeat;
background-size: auto;
}

.text {
text-align: center;
}


img {
display: block;
margin-left: auto;
margin-right: auto;

}

#tableformat {
display: block;
margin:auto;
 border: rgb(230, 173, 173);
border-width: 3cm;   
width: 100%;
align-items: center;
text-align: center;

}

.topnav {
overflow: hidden;
background-color: #333;
}

.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.topnav a:hover {
background-color: #ddd;
color: black;
}

.mt-1 {
border-radius: 25px;
background-color:lightcyan;
padding: 20px;
}

.jumbotron {
padding: 25px;
}

.btn-group-lg {
justify-content: space-between;
color: grey;
}

.btn-link {
justify-content: space-between;
color: grey;
}
