@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100');
#bgnoah {
    background-image:url(https://www.amtrakvacations.com/sites/amtrak/files/styles/hero/public/images/seattle.jpg?h=5a5fc591&itok=u7M-pblq);
    background-repeat: no-repeat;
    background-size: cover;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
table{
    display: block;
margin:auto;
   box-shadow: 10px 10px 15px #4b2e83;
border: lightblue;
   width: 500;
}

p {
      font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif	;
     font-size: 23px;
     text-align: center;
     /* Mark Comment: the shadow effect is pretty cool. */
     text-shadow: 5px 5px 4px lightslategray;
    }

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    text-shadow: 4px 4px grey;
}
/* Mark Comment: add a space between the selector and the open curly bracket. */
#imgDiv {
    width: 75%;
    background-image:url(https://previews.123rf.com/images/mrhighsky/mrhighsky1507/mrhighsky150700205/42865317-seamless-baseball-pattern.jpg) ;
    margin: auto;
    
    box-shadow: 15px 15px 20px blue;
}

#baseball {
    display: block;
    margin: auto;
    float: none;
    border-color: mediumaquamarine 30;
}

td {
    padding-left: 10px;
    margin: auto;
    float: none;
}

.mt-1{
    border-radius: 20px;
    background-color:white;
    
}
.jumbotron h1{

    font-size: 45px;
}

.jumbotron{
    padding: 20px;
}

.mt-2{
    border-style: ridge;
    display: block;
    text-align: center;
    background-color: palegoldenrod;
}

.d-flex div{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:  xx-large;
    align-content: center;
    color: indigo;
}

.d-flex{
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: auto;
    text-align: center;
}

#centerFlex{
    margin: auto;
      width: 50%;
     
      padding: 10px;
}

#buttons{
    text-align: center;
}

table{
        display: block;
        margin:auto;
        box-shadow: 10px 10px 15px #4b2e83;
        border: lightblue;
        width: fit-content;
    }
    
h2{
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: x-large;
text-shadow: 10px 10px 10px lightslategray;
text-align: center;
}	

.m-1{
display: block;
background-color: palegoldenrod;
}	
td{
    width: 50%;
}