				.topnav {
    					overflow: hidden;
   					background-color: #333333;
  				}
				
				body {
					background-color: #595959;
				}
				
				.mt-1 {
					border-radius: 25px;
					background-color: white;
				}
  
			       .topnav a {
    					float: left;
    					color: #f2f2f2;
    					text-align: center;
   					padding: 14px 16px;
    					text-decoration: none;
    					font-size: 17px;
  				}
  
  				.topnav a:hover {
    					background-color: #ddd;
    					color: black;
  				}
				
				h1 {
					text-align: center;
					font-family: sans-serif;
				}
				
				.midtextjoe {
					font-family: sans-serif;
				}
				
				.containertext {
					font-family: sans-serif;
				}
				
				.midtext2 {
					font-family: sans-serif;
				}
				
				.textjoe {
					color: black;
					font-family: sans-serif;
				}
				
				.thickjoe {
					font-weight: bold;
				}
				
				.tablejoe {
					width: 50%;
  					margin-left: auto;
  					margin-right: auto;
					border: 1px ridge black;
				}
				
				button {
					text-align: center;
				}
				
				a {					
					font-family: sans-serif;
					text-decoration: underline;
					color: darkblue;
				}
				
				td {
					font-family: sans-serif;
					font-weight: 3;
					border: 1px solid black;
				}
				
				.majorname {
					text-decoration: underline;
				}
				
				img {
					height: 400px;
					display: block;
 				        margin-left: auto;
  					margin-right: auto;
					/* Found another way to center on W3schools! */
				}
				
				li {
					font-family: sans-serif;
					margin-top: 10px;
    					margin-left: 10px;
    					margin-right: 100px;
				        margin-bottom: 10px;
				}
				
				a:hover {
					color: blueviolet;
					font-weight: 1;
				}
				
				.boxlink {
					color: black;
				}
				
				.boxlink:hover {
					color: white;
					background-color: black;
					font-weight: 1;
				}
